@media (min-width: 46.8em){  
  .nav-toggle {
      display: none;
  }
}

.nav-toggle {
    display: block;
    padding: 0.9rem 1rem 0.7rem;
    font-size: 1.3rem;
    line-height: 1;
}


@media (min-width: 29.75em){  
  .nav-toggle-search {
      display: none;
  }
}

.nav-toggle-search {
    display: block;
}